<!DOCTYPE html>
<html lang="en">
<head>
    <title>Triangle Area Calculator</title>
</head>
<body>
    <h1>Triangle Area Calculator</h1>
    <form action="/calculate" method="post">
        <label for="side_a">Side a:</label>
        <input type="text" name="side_a" required><br>

        <label for="side_b">Side b:</label>
        <input type="text" name="side_b" required><br>

        <label for="side_c">Side c:</label>
        <input type="text" name="side_c" required><br>

        <input type="submit" value="calculate">
    </form>
<h1>Circle Area Calculator</h1>
    <form action="/calculatecirclearea" method="post">
        <label for="side_a">Side a:</label>
        <input type="text" name="side_a" required><br>

        <input type="submit" value="calculate circle Area">
    </form>
</body>
</html>
